:root {
  --dark: #454545;
  --light: #e9e9e9;
  --second: #d4d4d4;
  --third: #707070;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(./images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Poppins', sans-serif;;
}
/* header style*/
header {
  display: flex;
  justify-content: space-around;
  align-items:baseline;
  color: var(--second);
 padding: 1%;
}
.logo {
  font-size: 30px;
}
/* main style */
.container-fluid {
  max-width: 95%;
}

/* first row of main style*/
.search-form,
.col-md-5 {
  border: 2px solid var(--dark);
  border-radius: 10px;
  background-color: rgba(233, 233, 233, 0.5);
  color: var(var(--dark));
}
.search-form {
  margin-right: 25%;
}
.tempDisplayContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2%;
  gap: 18%;
  color: var(--dark);
}
.displayTemp, .displayWind, .displayHumidity {
  font-size: 20px;
  padding: 8px;
}
.cityDescription {
  text-align: center;
}

/* second row of main style*/
.hidden {
  border: 2px solid var(--dark);
  border-radius: 10px;
  background-color: rgba(233, 233, 233, 0.5);
}
.hidden {
  margin-right: 5%;
/* visibility: hidden; */
}
.fiveDaysForecast {
  display: flex;
  justify-content: center;
  gap: 3%;

}
.forecastBlock {
  border: 2px solid var(--dark);
  border-radius: 10px;
  background-color: rgba(233, 233, 233, 0.8);
  padding: 1%;
  width: 23%;
  text-align: center;
}

@media (max-width: 767px) {
  .search-form {
    margin-right: 0;
    margin-bottom: 10px; /* Add some spacing at the bottom */
    
  }
  .tempDisplayContainer {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
